In [15]:
import os.path as osp
import torch
from tqdm import tqdm
import pandas as pd

In [16]:
def split_dataset(df, x):
    # Calculate the number of rows per subset
    total_rows = len(df)
    subset_size = total_rows // x

    # Create empty list to hold subsets
    subsets = []

    # Split the DataFrame into subsets
    for i in range(x):
        start_index = i * subset_size
        end_index = (i + 1) * subset_size if i < x - 1 else total_rows
        subset = df.iloc[start_index:end_index].reset_index(drop=True)
        subsets.append(subset)

    # Now subsets[i] contains the i-th subset
    # You can access each subset like subsets[0], subsets[1], etc.

    # Example usage: Print the first few rows of each subset
    for i, subset in enumerate(subsets):
        print(f"Subset {i+1} - Rows: {len(subset)}")
        print(subset.head())
        print()  # Separate subsets with a blank line
    return subsets

In [17]:
df = pd.read_csv("../prime/raw/kg.csv")

/var/folders/7r/2xd4t0f94wd49mswwc461j940000gn/T/ipykernel_5799/413405608.py:1: DtypeWarning: Columns (3,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../prime/raw/kg.csv")

In [18]:
df.head(5)

,relation,display_relation,x_index,x_id,x_type,x_name,x_source,y_index,y_id,y_type,y_name,y_source
0,protein_protein,ppi,0,9796,gene/protein,PHYHIP,NCBI,8889,56992,gene/protein,KIF15,NCBI
1,protein_protein,ppi,1,7918,gene/protein,GPANK1,NCBI,2798,9240,gene/protein,PNMA1,NCBI
2,protein_protein,ppi,2,8233,gene/protein,ZRSR2,NCBI,5646,23548,gene/protein,TTC33,NCBI
3,protein_protein,ppi,3,4899,gene/protein,NRF1,NCBI,11592,11253,gene/protein,MAN1B1,NCBI
4,protein_protein,ppi,4,5297,gene/protein,PI4KA,NCBI,2122,8601,gene/protein,RGS20,NCBI

In [20]:
# get all types to string
df = df.astype(str)
df.dtypes

relation            object
display_relation    object
x_index             object
x_id                object
x_type              object
x_name              object
x_source            object
y_index             object
y_id                object
y_type              object
y_name              object
y_source            object
dtype: object

# Get nodes

In [22]:
df_nodes = df[["x_index", "x_type", "x_name", "x_source"]]
df_nodes = df_nodes.rename(columns={"x_index": "y_index", "x_type": "y_type", "x_name": "y_name", "x_source": "y_source"})

# append the same columns with y_ prefix to df_nodes
df_nodes = pd.concat([df_nodes, df_nodes[["y_index", "y_type", "y_name", "y_source"]]], axis=0)

df_nodes = df_nodes.rename(columns={"y_index": "ID", "y_type": "type", "y_name": "name", "y_source": "source"})

print("Size of df_nodes before drop duplicates: ", df_nodes.shape[0])
# keep unique rows of df_nodes
df_nodes = df_nodes.drop_duplicates(ignore_index=False)
print("Size of df_nodes after drop duplicates: ", df_nodes.shape[0])

df_nodes['name'] = df_nodes['name'].str.replace("'", " ")
df_nodes

Size of df_nodes before drop duplicates:  16200996
Size of df_nodes after drop duplicates:  129375

,ID,type,name,source
0,0,gene/protein,PHYHIP,NCBI
1,1,gene/protein,GPANK1,NCBI
2,2,gene/protein,ZRSR2,NCBI
3,3,gene/protein,NRF1,NCBI
4,4,gene/protein,PI4KA,NCBI
...,...,...,...,...
6505728,129370,pathway,Ion transport by P-type ATPases,REACTOME
6505729,129371,pathway,Inhibition of voltage gated Ca2+ channels via...,REACTOME
6548634,129372,anatomy,anatomical entity,UBERON
6562425,129373,anatomy,multi-cellular organism,UBERON
6562434,129374,anatomy,female gonad,UBERON

## Get embeddings

In [25]:
emb_model = "text-embedding-ada-002"
candidate_emb_path = osp.join("../data/embedding/", 'candidate_emb_dict.pt')
print(candidate_emb_path)

../data/embedding/candidate_emb_dict.pt

In [26]:
if osp.exists(candidate_emb_path):
    candidate_emb_dict = torch.load(candidate_emb_path)
    print(f'Loaded candidate_emb_dict from {candidate_emb_path}!')
else:
    print(f'candidate_emb_dict not found in {candidate_emb_path}!')

/var/folders/7r/2xd4t0f94wd49mswwc461j940000gn/T/ipykernel_5799/121864273.py:2: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  candidate_emb_dict = torch.load(candidate_emb_path)

Loaded candidate_emb_dict from ../data/embedding/candidate_emb_dict.pt!

In [27]:
list_id = []
list_emb = []
for item in tqdm(candidate_emb_dict):
    list_id.append(item)
    list_emb.append(candidate_emb_dict[item].numpy().tolist()[0])

len_emb = len(list_emb[0])
print(len_emb)

df_emb = pd.DataFrame(zip(list_id, list_emb), columns=["ID", "embedding"])
df_emb["ID"] = df_emb["ID"].astype(str)
df_emb

100%|██████████| 129375/129375 [00:14<00:00, 8651.62it/s]

1536

            ID                                          embedding
0            0  [-0.0497407391667366, -0.008042690344154835, -...
1            1  [-0.03097713552415371, 0.01564742438495159, 0....
2            2  [-0.029452160000801086, 0.011456595733761787, ...
3            3  [-0.03204813227057457, -0.013203300535678864, ...
4            4  [-0.03254737704992294, -0.01226135902106762, -...
...        ...                                                ...
129370  129370  [0.007171083241701126, 0.0017606967594474554, ...
129371  129371  [-0.011782837100327015, -0.01597079448401928, ...
129372  129372  [0.006585611030459404, 0.008282791823148727, 0...
129373  129373  [-0.02508579194545746, -0.006438905373215675, ...
129374  129374  [-0.027329016476869583, -0.006858658976852894,...

[129375 rows x 2 columns]

In [28]:
df_nodes_final = pd.merge(df_nodes, df_emb, on="ID", how="left")

In [30]:
df_nodes_final.head(5)

,ID,type,name,source,embedding
0,0,gene/protein,PHYHIP,NCBI,"[-0.0497407391667366, -0.008042690344154835, -..."
1,1,gene/protein,GPANK1,NCBI,"[-0.03097713552415371, 0.01564742438495159, 0...."
2,2,gene/protein,ZRSR2,NCBI,"[-0.029452160000801086, 0.011456595733761787, ..."
3,3,gene/protein,NRF1,NCBI,"[-0.03204813227057457, -0.013203300535678864, ..."
4,4,gene/protein,PI4KA,NCBI,"[-0.03254737704992294, -0.01226135902106762, -..."

In [31]:
df_datasets = split_dataset(df_nodes_final, 10)

Subset 1 - Rows: 12937
  ID          type    name source  \
0  0  gene/protein  PHYHIP   NCBI
1  1  gene/protein  GPANK1   NCBI
2  2  gene/protein   ZRSR2   NCBI
3  3  gene/protein    NRF1   NCBI
4  4  gene/protein   PI4KA   NCBI

                                           embedding
0  [-0.0497407391667366, -0.008042690344154835, -...
1  [-0.03097713552415371, 0.01564742438495159, 0....
2  [-0.029452160000801086, 0.011456595733761787, ...
3  [-0.03204813227057457, -0.013203300535678864, ...
4  [-0.03254737704992294, -0.01226135902106762, -...

Subset 2 - Rows: 12937
      ID          type      name source  \
0  12937  gene/protein     TACR3   NCBI
1  12938  gene/protein    SH2D1B   NCBI
2  12939  gene/protein  PLA2G12A   NCBI
3  12940  gene/protein   PRPF38A   NCBI
4  12941  gene/protein    TRIM65   NCBI

                                           embedding
0  [-0.04068923741579056, 0.007761648390442133, -...
1  [-0.04108533263206482, -0.001502258237451315, ...
2  [-0.032029010355472565, 0.01176210306584835, -...
3  [-0.02143264189362526, -0.0011982241412624717,...
4  [-0.034012872725725174, -0.015826178714632988,...

Subset 3 - Rows: 12937
      ID              type                                      name source  \
0  25874  effect/phenotype             Abnormality of redox activity    HPO
1  25875  effect/phenotype       Abnormal circulating globulin level    HPO
2  25876  effect/phenotype                               Skin plaque    HPO
3  25877  effect/phenotype  Abnormal circulating thyroglobulin level    HPO
4  25878  effect/phenotype      Abnormal descending aorta morphology    HPO

                                           embedding
0  [-0.0037977739702910185, -0.018478134647011757...
1  [-0.01420854777097702, 0.004035175312310457, 0...
2  [-0.011134759522974491, 0.015293524600565434, ...
3  [-0.01573958620429039, -0.0020443142857402563,...
4  [-0.01776747591793537, 0.014461582526564598, 0...

Subset 4 - Rows: 12937
      ID     type                                               name source  \
0  38811  disease                                auditory neuropathy  MONDO
1  38812  disease  inborn disorder of neurotransmitter metabolism...  MONDO
2  38813  disease                          ocular albinism (disease)  MONDO
3  38814  disease                                     CDKL5 disorder  MONDO
4  38815  disease                         neonatal epilepsy syndrome  MONDO

                                           embedding
0  [-0.012425804510712624, 0.011348768137395382, ...
1  [0.0040458193980157375, 0.005262556951493025, ...
2  [0.0002950394118670374, 0.013973331078886986, ...
3  [-0.016178227961063385, 0.017164381220936775, ...
4  [-0.005459960084408522, 0.008633129298686981, ...

Subset 5 - Rows: 12937
      ID                type  \
0  51748  biological_process
1  51749  biological_process
2  51750  biological_process
3  51751  biological_process
4  51752  biological_process

                                                name source  \
0                                viral transcription     GO
1     negative regulation of floral organ abscission     GO
2  regulation of floral organ abscission by signa...     GO
3             regulation of mRNA export from nucleus     GO
4   proximal convoluted tubule segment 1 development     GO

                                           embedding
0  [-0.029326360672712326, 0.00022953181178309023...
1  [-0.0292208194732666, 0.0073664216324687, 0.00...
2  [-0.0249408520758152, -0.0007852336275391281, ...
3  [-0.0244023147970438, -0.013155212625861168, -...
4  [0.023311501368880272, -0.003608529455959797, ...

Subset 6 - Rows: 12937
      ID     type                 name  source  \
0  64685  anatomy     popliteal artery  UBERON
1  64686  anatomy  iliocostalis muscle  UBERON
2  64687  anatomy             splenius  UBERON
3  64688  anatomy    thyroglossal duct  UBERON
4  64689  anatomy    vomeronasal organ  UBERON

                                           embedding
0  [0.003160343272611499, -0.0007485023816116154,...
1  [-0.011731651611626148, -0.006720560137182474,...
2  [0.013246193528175354, 0.005326243117451668, -...
3  [-0.01031134370714426, 0.014527829363942146, 0...
4  [0.011843857355415821, 0.003695740830153227, 0...

Subset 7 - Rows: 12937
      ID          type       name source  \
0  77622  gene/protein  GATA3-AS1   NCBI
1  77623  gene/protein    BNIP3P1   NCBI
2  77624  gene/protein    FAM177B   NCBI
3  77625  gene/protein    PRAMENP   NCBI
4  77626  gene/protein    RPS17P2   NCBI

                                           embedding
0  [-0.04227747768163681, 0.007489507552236319, -...
1  [-0.042618393898010254, 0.007402508519589901, ...
2  [-0.030755676329135895, -0.0019737640395760536...
3  [-0.011873508803546429, -0.0067097507417202, -...
4  [-0.018047761172056198, 0.007238481193780899, ...

Subset 8 - Rows: 12937
      ID              type                                      name source  \
0  90559  effect/phenotype    Abnormal Estermann grid perimetry test    HPO
1  90560  effect/phenotype    Abnormal indocyanine green angiography    HPO
2  90561  effect/phenotype    Reduced OCT-measured macular thickness    HPO
3  90562  effect/phenotype  Increased OCT-measured macular thickness    HPO
4  90563  effect/phenotype   Photoreceptor layer loss on macular OCT    HPO

                                           embedding
0  [-0.012354177422821522, 0.00841018557548523, 0...
1  [0.014129775576293468, 0.0009755876963026822, ...
2  [-0.022504441440105438, 0.004530912730842829, ...
3  [-0.016643846407532692, 0.0020203706808388233,...
4  [-0.016680527478456497, 0.004066568799316883, ...

Subset 9 - Rows: 12937
       ID                type  \
0  103496  biological_process
1  103497  biological_process
2  103498  biological_process
3  103499  biological_process
4  103500  biological_process

                                                name source  \
0  acetylcholine-mediated vasodilation involved i...     GO
1                     vasodilation in other organism     GO
2  artery vasodilation involved in baroreceptor r...     GO
3  vasodilation involved in acute inflammatory re...     GO
4  angiotensin-mediated vasodilation involved in ...     GO

                                           embedding
0  [-0.016098858788609505, 0.010287987999618053, ...
1  [0.00038813435821793973, 0.0016644626157358289...
2  [-0.01792629063129425, 0.009399043396115303, -...
3  [-0.012382371351122856, 0.016777433454990387, ...
4  [-0.021714184433221817, 0.003517697798088193, ...

Subset 10 - Rows: 12942
       ID                type  \
0  116433  molecular_function
1  116434  molecular_function
2  116435  molecular_function
3  116436  molecular_function
4  116437  molecular_function

                                                name source  \
0            ecdysone-phosphate phosphatase activity     GO
1                thymidylate 5 -phosphatase activity     GO
2  dihydrosphingosine-1-phosphate phosphatase act...     GO
3              sedoheptulose-bisphosphatase activity     GO
4                           NMN phosphatase activity     GO

                                           embedding
0  [-0.00018950135563500226, -0.00432953098788857...
1  [-0.016261115670204163, -0.023133534938097, -0...
2  [-0.013389294035732746, 0.010175323113799095, ...
3  [-0.004934679716825485, 0.0008700797334313393,...
4  [-0.005624082870781422, -0.012763360515236855,...

In [ ]:
for i, item in enumerate(df_datasets):
    item.to_csv(f"../prime/new/kg_nodes_{i}.csv", index=False)

# Get edges

In [ ]:
df_edges = df[["relation", "display_relation"]]

# keep unique rows of df_nodes
df_edges = df_edges.drop_duplicates(ignore_index=False)

df_edges

So we want to use display relation as those are the true edges.

# Get node relation node list

In [ ]:
df_relations = df[["x_index", "display_relation", "relation", "y_index"]]
df_relations["display_relation"] = df_relations["display_relation"].str.replace(" ", "_")
df_relations

In [ ]:
df_relations.dtypes

In [ ]:
df_datasets = split_dataset(df_relations, 10)

for i, item in enumerate(df_datasets):
    item.to_csv(f"../prime/new/kg_relations_{i}.csv", index=False)

In [ ]:
print("Done!")